body {
  font-family: 'Poppins', sans-serif;
  background-color: #16181c;
  color: white;
  text-align: center;
}


.container {
  width: 80%;
  margin: 0 auto;
}


.grid1 {
  margin-top:40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px
}


.grid {
  margin-top:40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px
}


.grid-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
  height: auto;
  border-radius: 10px;
}


.grid-item {
  font-size: 16px;
  background-color: #26292f;
  padding: 20px;
  border-radius: 10px;
}

.grid-item{
	animation: blink_item 1s linear infinite;
	transition: 0.2s ease;
}

.grid-item:hover{
	animation: blink_item 0s linear infinite;

}

.grid-item a{
  color: #4ab3ba;
  font-size: 25px;
}

.grid-item a.downloadbtn{
  display: block;
  margin-top: 20px;
  color: #fff;
  font-size: 25px;
}

.grid-item a.downloadbtn:hover{
  color: #4ab3ba;
  text-decoration: underline;
}

.grid-item a:hover{
  color: #4ab3ba;
  text-decoration: none;
}

.grid-item h1{
  color: #eceff4;
}

.title h1 {
  text-align: center;
  color: #4ab3ba;
  text-shadow: 0px 0px 23px #4ab3ba;
  font-size: 70px;
  font-weight: bold;
background: linear-gradient(
	to bottom, #296063, #99f8ff);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}

.subtitle {
  color: #4ab3ba;
  text-shadow: 0px 0px 23px #4ab3ba;
  margin-top: 20px;
  font-size: 20px;
}

.abouts {
  color: #eceff4;
  font-size: 25px;
}

.title a {
  color: #88c0d0;
  animation: blink_cursor 1s linear infinite;
}

a {
  color: #88c0d0;
  text-decoration: none;
}

a.goback {
  margin-top: 20px;
  color: #88c0d0;
  text-decoration:underline;
  font-size: 30px;
}

a:hover {
  color: #88c0d0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#search-input{
  width: 50%;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid transparent;
  font-size: 1.2em;
  background-color: #121212;
  color: #fff;
  box-shadow: 0px 0px 23px #2e3440;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  /* Adjust font sizes */
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  /* Adjust grid layout */
  .grid {
    grid-template-columns: 1fr;
    gap: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
  }
    .grid1 img {
	width: 80%;
	}
    .grid1 {
    grid-template-columns: 1fr;
    gap: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
  }
  /* Center search bar */
  .search-container {
    display: flex;
    justify-content: center;
  }
  /* Make search bar full width */
  #search-input {
    width: 70%;
  }
  /* Adjust grid item layout */
  .grid-item {
    width: 100%;
  }
}

